<html>
<body>
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container" >
        <br/>
        <form action="/form" method="POST">
            <input type="text" placeholder="Nome" name="nome">
            <input type="text" placeholder="E-mail" name="email">
            <input type="password" placeholder="Endereço" name="endereco">
            <input type="submit" value="Cadastrar" class="btn btn-secondary">
        </form>
        <br/><br/>
    </div>
{% endblock %}


</body>
</html>